<div
  class="relative bg h-full max-h-[400px] flex justify-center items-center text-white font-light  border-t border-white/10"
>
  <div
    class="absolute lg:h-[800px] lg:w-[800px] bg-gradient-to-b from-[#0901ff3a] rounded-full blur-3xl"
  >
  </div>
  <h5>IoT<span class="font-bold text-[#ff2a2a]">Link</span> - 2025</h5>
</div>
