<header
  class="fixed top-0 z-50 w-full mx-auto h-35 flex justify-center items-center bg-gradient-to-b from-black to-transparent"
>
  <nav
    class="bg-gradient-to-r px-10 text-[#839297] bg-black/50 rounded-xl backdrop-blur-xl py-4 flex justify-center items-center gap-5"
  >
    <img src="logo.webp" alt="logo IOTLink" class="w-15 relative" />
    <ul class="flex space-x-10 text-[14px] font-light">
      <li><a class="py-2 px-2 text-[#fd4040]" href="#">Inicio</a></li>
      <li><a class="py-2 px-2" href="#project">Productos</a></li>
      <li><a class="py-2 px-2" href="#service">Servicios</a></li>
      <li><a class="py-2 px-2" href="#about">Acerca de nosotros</a></li>
      <li><a class="py-2 px-2" href="#contact">Contacto</a></li>
    </ul>
  </nav>
</header>
