---
import { ChevronRight, Diamond } from "@lucide/astro";
import BorderStylesRed from "./ui/BorderStylesRed.astro";
import Titles from "./ui/Titles.astro";
import BorderStylesZinc from "./ui/BorderStylesZinc.astro";
---

<section
    id="service"
    class="relative max-w-5xl mx-auto bg-[#171619] border-t border-white/10"
>
    <div class="grid grid-cols-2 gap-10 min-h-[500px]">
        <img
            src="image.png"
            alt=""
            class="absolute right-0 top-0 w-full h-full object-cover z-0 blur-3xl opacity-20"
        />
        <div class="relative p-2 w-full">
            <BorderStylesZinc />
            <!-- <img
                src="service/bg2.png"
                alt="bg4"
                class="absolute scale-90 left-0 top-0 w-full h-full object-cover rounded-xl blur-3xl opacity-80"
            /> -->
            <img
                src="service/bg.png"
                alt="bg4"
                class="relative w-full h-full object-cover rounded"
            />
        </div>
        <div class="relative">
            <div class="flex justify-center items-center">
                <Titles title="Servicios" />
            </div>
            <BorderStylesRed />

            <p class="py-8 px-5 font-light text-zinc-300">
                Contamos con un amplio rango de servicios ajustados durante <span
                    class="text-white font-bold">+10 años</span
                >, enfocados para facilitar la gestión de tu empresa en el mundo
                digital.
            </p>
            <div class="px-7 grid grid-cols-2">
                <ol class="py-3 flex flex-col gap-10 font-light text-white">
                    <li class="flex justify-start items-center">
                        <ChevronRight color="yellow" size={14} />IoT
                    </li>
                    <li class="flex justify-start items-center">
                        <ChevronRight color="yellow" size={14} />Inteligencia
                    </li>
                    <li class="flex justify-start items-center">
                        <ChevronRight color="yellow" size={14} />Wireless
                    </li>
                    <li class="flex justify-start items-center">
                        <ChevronRight color="yellow" size={14} />Data Center
                    </li>
                    <li class="flex justify-start items-center">
                        <ChevronRight color="yellow" size={14} />Seguridad
                    </li>
                    <li class="flex justify-start items-center">
                        <ChevronRight color="yellow" size={14} />Satelital
                    </li>
                </ol>
                <ol class="py-3 flex flex-col gap-10 font-light text-white">
                    <li class="flex justify-start items-center">
                        <ChevronRight color="yellow" size={14} />Energías
                        Renovables
                    </li>
                    <li class="flex justify-start items-center">
                        <ChevronRight color="yellow" size={14} />Wisensor
                    </li>
                    <li class="flex justify-start items-center">
                        <ChevronRight color="yellow" size={14} />Network IP
                    </li>
                    <li class="flex justify-start items-center">
                        <ChevronRight color="yellow" size={14} />Redes
                    </li>
                    <li class="flex justify-start items-center">
                        <ChevronRight color="yellow" size={14} />Aplicaciones
                    </li>
                    <li class="flex justify-start items-center">
                        <ChevronRight color="yellow" size={14} />IA
                        <span
                            class="text-transparent mx-2 font-extralight text-clip bg-clip-text bg-gradient-to-r from-[#0289ff] to-[#59fd40] border border-[#02ff9aad] rounded-sm px-2"
                            >Nuevo</span
                        >
                    </li>
                </ol>
            </div>
        </div>
    </div>
</section>
