---
import About from "./About.astro";
import Project from "./Project.astro";
import Service from "./Service.astro";
---

<img
  src="logo.webp"
  alt="logo IOTLink"
  class="fixed left-[50%] -translate-x-1/2 top-50 z-0 w-50 opacity-95"
/>
<main class="relative w-full py-10 mt-90 pb-10">
  <div
    class="absolute left-[50%] -translate-x-1/2 rounded-full blur-2xl w-[800px] h-[150px] bg-[#ff040052]"
  >
  </div>
  <div
    class="absolute -top-10 left-[50%] -translate-x-1/2 rounded-full w-[500px] h-[500px] bg-gradient-to-r from-[#ca0a37] via-[#9500ff] to-[#7b00ff] blur-3xl "
  >
  </div>
  <div
    class="relative max-w-6xl mx-auto bg-[#171619] h-full border-t border-t-[#ef5257] pt-20"
  >
    <section
      id="hero"
      class="relative flex flex-col items-center justify-center"
    >
      <div
        class="p-[0.8px] bg-gradient-to-bl from-[#ef5257] to-[#09baf0] rounded-full"
      >
        <div
          class="bg-gradient-to-l from-[#010001] to-[#190013] rounded-full px-5 shadow"
        >
          <h4
            class="text-sm py-0.5 font-light bg-gradient-to-r from-[#52d0ef] to-[#ef5257] text-transparent bg-clip-text"
          >
            Te Presentamos IOTLink Tecnologías
          </h4>
        </div>
      </div>
      <div
        class="relative my-5 clas flex flex-col items-center justify-center gap-1"
      >
        <h1
          class="text-6xl font-bold bg-gradient-to-r from-[rgb(87,243,165)] to-[#ff2a2a] text-transparent bg-clip-text"
        >
          IoT y AI: Innovación Conectada
        </h1>
        <div
          class="absolute left-1 -top-20 bg-[#9a1010] h-[400px] w-[400px] rounded-full opacity-10 blur-3xl"
        >
        </div>
        <h4
          class="text-xl font-light bg-gradient-to-r from-[#ffffff] to-[#b2b2b2] text-transparent bg-clip-text"
        >
          Automatización, eficiencia y toma de decisiones inteligentes
        </h4>
      </div>
      <div class="flex flex-col items-center justify-center gap-5 mt-20">
        <small
          class="bg-gradient-to-tr from-zinc-300 to-zinc-400 text-transparent bg-clip-text"
          >Se él primero en recibir información.
        </small>
        <div class="grid grid-cols-2 w-full gap-5">
          <input
            type="text"
            class="border border-white/40 text-center bg-gradient-to-tr from-zinc-300 to-zinc-500 text-transparent bg-clip-text rounded-lg ps-2"
            placeholder="correo@iotlink.cl"
          />
          <div class="w-full bg-[#ff020a] p-[1px] rounded-lg hover:opacity-85">
            <button
              class="bg-[#2b0404] text-white/85 w-full py-2 px-4 rounded-lg cursor-pointer"
            >
              Suscribirme
            </button>
          </div>
        </div>
      </div>
    </section>
  </div>
  <Project />
  <Service />
  <About />
</main>

<!-- 

++colors++

negros: #010001, #292320,#171619
gris: #3c393a,
azul: #224cff
skyblue: #00cbff
skylightblue: #00cbff
-->

<style></style>
