---
import About from "./About.astro";
import Project from "./Project.astro";
import Service from "./Service.astro";
---

<div id="hero" class="w-full h-full max-h-[700px] overflow-hidden mt-3 px-10">
  <div
    style={{ animation: "heroAnimate 20s linear" }}
    class="heroAnimate fixed grid grid-cols-4 gap-1 w-full mx-auto"
  >
    <div class="relative">
      <img
        src="hero/hero_3.png"
        alt=""
        class="w-full h-full min-h-[600px] object-cover rounded-lg"
      />
      <div
        class="absolute left-0 bottom-0 bg-gradient-to-t from-zinc-900 from-30% h-full w-full"
      >
      </div>
    </div>
    <div class="relative col-span-2">
      <img
        src="hero/hero_2.png"
        alt=""
        class="w-full h-full min-h-[600px] object-cover rounded-lg"
      />
      <div
        class="absolute left-0 bottom-0 bg-gradient-to-t from-zinc-900 from-30% h-full w-full"
      >
      </div>
    </div>

    <div class="relative">
      <img
        src="hero/hero_4.png"
        alt=""
        class="w-full h-full min-h-[600px] object-cover rounded-lg"
      />
      <div
        class="absolute left-0 bottom-0 bg-gradient-to-t from-zinc-900 from-30% h-full w-full"
      >
      </div>
    </div>
  </div>
</div>
<img
  id="logo"
  src="logo.webp"
  alt="logo IOTLink"
  class="logo fixed left-[50%] -translate-x-1/2 top-70 z-0 w-40 opacity-95"
  style={{ animation: "logo 1s " }}
/>
<main
  style={{ animation: "logo 1s " }}
  class="relative w-full py-10 pb-10 -mt-50"
>
  <div
    class="absolute left-0 top-0 bg-gradient-to-t from-zinc-900 from-85% h-full w-full"
  >
  </div>
  <div
    class="absolute left-[50%] -translate-x-1/2 rounded-full blur-2xl w-[800px] h-[50px] bg-[#0044ff]"
  >
  </div>

  <div
    class="absolute -top-10 left-[50%] -translate-x-1/2 rounded-full w-[500px] h-[500px] bg-gradient-to-r from-[#0044ff] via-[#0095ff] to-[#0077ff] blur-3xl"
  >
  </div>
  <div
    class="relative max-w-6xl mx-auto bg-[#171619] rounded-t-3xl h-full border-t border-t-[#0073ff]"
  >
    <!-- <div class="line-speed"></div> -->
    <section
      id="hero"
      class="relative flex flex-col items-center justify-center"
    >
      <div
        class="p-[0.8px] bg-gradient-to-bl from-[#0073ff] to-[#0073ff] rounded-full"
      >
        <div
          class="bg-gradient-to-l from-[#010001] to-[#190013] rounded-full px-5 shadow"
        >
          <h4
            class="text-sm py-0.5 bg-gradient-to-r from-[#feffff] to-[#daf6ff] text-transparent bg-clip-text"
          >
            Te Presentamos IOTLink Tecnologías
          </h4>
        </div>
      </div>
      <div
        class="relative my-5 clas flex flex-col items-center justify-center gap-1"
      >
        <span
          class="text-center font-bold bg-gradient-to-r from-[rgb(255,220,235)] to-[#979bb1] text-transparent bg-clip-text"
          >IoT y AI:</span
        >
        <h1
          class="text-7xl text-center font-bold bg-gradient-to-r from-[rgb(255,220,235)] to-[#979bb1] text-transparent bg-clip-text"
        >
          Innovación Conectada
        </h1>
        <div
          class="absolute left-1 -top-20 bg-[#0073ff] h-[400px] w-[400px] rounded-full opacity-10 blur-3xl"
        >
        </div>
        <h4
          class="text-center lg:text-left text-xl font-light bg-gradient-to-r from-[#ffffff] to-[#b2b2b2] text-transparent bg-clip-text"
        >
          Automatización, eficiencia y toma de decisiones inteligentes
        </h4>
      </div>
      <div class="flex flex-col items-center justify-center gap-5 mt-20">
        <small
          class="bg-gradient-to-tr from-zinc-300 to-zinc-400 text-transparent bg-clip-text"
          >Se él primero en recibir información.
        </small>
        <div class="grid grid-cols-2 w-full gap-5">
          <input
            type="text"
            class="border border-white/40 py-2 text-center bg-gradient-to-tr from-zinc-300 to-zinc-500 text-transparent bg-clip-text rounded-lg ps-2"
            placeholder="correo@iotlink.cl"
          />
          <div class="w-full bg-[#0073ff] p-[1px] rounded-lg hover:opacity-85">
            <button
              class="bg-[#001630] text-white/85 w-full py-2 px-4 rounded-lg cursor-pointer"
            >
              Suscribirme
            </button>
          </div>
        </div>
      </div>
    </section>
  </div>
  <Project />
  <Service />
  <About />
</main>

<!-- 

++colors++

negros: #010001, #292320,#171619
gris: #3c393a,
azul: #224cff
skyblue: #00cbff
skylightblue: #00cbff
-->
<script>
  const SCROLL_THRESHOLD = 20;
  const SCALE_SMALL = 0.8;
  const SCALE_LARGE = 1.2;
  const SCALE_LARGE_HERO = 1;
  const TRANSITION = "transform 0.6s ease-in-out";
  const TRANSITION_HERO = "transform 0.2s ease-in-out";

  function handleScroll() {
    const logo = document.getElementById("logo");
    const hero = document.getElementById("hero");
    if (!logo || !hero) return;

    const scrollTop = window.scrollY;
    logo.style.transition = TRANSITION;
    logo.style.transform = `scale(${
      scrollTop > SCROLL_THRESHOLD ? SCALE_SMALL : SCALE_LARGE
    })`;
    
    hero.style.transition = TRANSITION_HERO;
    hero.style.transform = `scale(${
      scrollTop > SCROLL_THRESHOLD ? SCALE_SMALL : SCALE_LARGE_HERO
    })`;
  }

  // Eventos de desplazamiento de aceleración
  let ticking = false;
  window.addEventListener("scroll", () => {
    if (!ticking) {
      window.requestAnimationFrame(() => {
        handleScroll();
        ticking = false;
      });
      ticking = true;
    }
  });

  // Estado inicial
  handleScroll();

  // Cleanup - Limpieza de eventos
  document.addEventListener("astro:before-swap", () => {
    window.removeEventListener("scroll", handleScroll);
  });
</script>
<style>
  .line-speed {
    position: absolute;
    top: 0;
    left: 0;
    background-color: red;
    height: 3px;
    width: 3px;
    animation: lineSpeed 20s;
  }

  @keyframes lineSpeed {
    0% {
      left: 0;
      top: 0;
      width: 0;
      height: 5px;
    }
    25% {
      left: 100%;
      top: 0;
      width: 2px;
      height: 5px;
    }
    50% {
      left: 100%;
      top: 0;
      width: 0;
      height: 50%;
    }
    75% {
      left: 100%;
      top: 100%;
      width: 3%;
    }
    100% {
      width: 0;
      height: 100%;
      bottom: 0;
      right: 0;
    }
  }

  @keyframes logo {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }
</style>
