---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>IoT Link - Website</title>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content="IoT Link - Website" />

    <meta name="og:url" content="https://iotlink.cl/" />
    <meta name="og:type" content="iotlink" />
    <meta name="og:title" content="IoT Link - Website" />
    <meta name="og:description" content="IoT Link - Website" />
    <meta
      name="og:image"
      content="https://iotlink.com/assets/images/logo.webp"
    />

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@iotlink" />
    <meta name="twitter:creator" content="@iotlink" />
    <meta name="twitter:title" content="IoT Link - Website" />
    <meta name="twitter:description" content="IoT Link - Website" />
    <meta
      name="twitter:image"
      content="https://iotlink.com/assets/images/logo.webp"
    />
    <script src="https://unpkg.com/scrollreveal"></script>
  </head>
  <body>
    <Header />
    <slot />
    <Footer />
  </body>
</html>

<style>
  html,
  body {
    background-color: #171619;
    margin: 0;
    width: 100%;
    height: 100%;
    scroll-behavior: smooth;
  }
</style>
